{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
{% if user.is_authenticated %}
<div class="container py-5">
    <h1>Create Theory</h1>
    <form class="form-horizontal form_middle" enctype='multipart/form-data' method="POST">
        {% csrf_token %}
        {{ edit_post_form|crispy }}
        {{edit_post_form.media}}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>
{% else %}
<h2> Please Login To Create Theory </h2>
{% endif %}
{% endblock %}
