{%extends 'base.html' %}

{%block title%} POST {%endblock%}

{%block content%}


<div class="container-flex py-5 ml-4 mr-4 ">
    <div class="row">
        <div class="col-sm-8 col-lg-8">
            <h3 class="ml-5">{{post.title}}</h3>
            <p class="ml-5">( {{post.cat.title}} )</p>
            <img alt="" class="responsive-img mb-3" style="height:50%; width:100%;object-fit:contain" src="/media/{{post.image}}">
            <p class="ml-5" class="text-light">{{post.content|safe}}</p>
            <a class="btn btn-primary" href="/likes/{{post.url}}">Like</a><span> &nbsp&nbsp{{post.like.count}}</span>

        </div>
        <div class="col-sm-4 col-lg-4">
            {% for cat in cats %}
            <div class="card item mb-2" style="margin-left:10px; ">
                <div class="img-container">
                    <img alt="" style="height:100%; width:100%;object-fit:contain" class="responsive-img" src="/media/{{cat.image}}">
                </div>
                <div class="card-content card-img-overlay">
                    <b>{{cat.title}}</b>
                    <div class="center-align">
                        <a class="btn btn-primary" href="/category/{{cat.url}}">View</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

{%endblock%}
