html{
height: 100%;
width: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color:green;
  position:relative;
  height: 100%;
width: 100%;
}

.textinput,.emailinput,.form-group,.textarea,.select{
width:75.5%;
height: 35px;
margin-bottom:1%
}

.mt20{
margin-top:20px;
}

.navbar-nav{
  justify-content: space-between;
  flex-grow: 1;
}
.category-btn{
    margin-top: 30%;
    margin-left: 40%;
}
.mt-2{
margin-top:3.6erm !important
}